<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.scrutinise.dao.DepartmentDao">
    <!--分页模糊查询部门信息-->
    <select id="find_department" parameterType="java.util.Map" resultType="com.zty.scrutinise.entity.Department">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        select * from department
        <where>
            cid=#{cid}
            <if test="department_name!=null and department_name!=''">
                and department_name like concat("%",#{department_name},"%")
            </if>
            <if test="department_person!=null and department_person!=''">
                and department_person like concat("%",#{department_person},"%")
            </if>
        </where>
        limit #{page},#{pageSize}
    </select>

    <!--统计总数-->
    <select id="total" parameterType="java.util.Map" resultType="long">
        select count(*) from department
        <where>
            cid=#{cid}
            <if test="department_name!=null and department_name!=''">
                and department_name like concat("%",#{department_name},"%")
            </if>
            <if test="department_person!=null and department_person!=''">
                and department_person like concat("%",#{department_person},"%")
            </if>
        </where>
    </select>

    <!--增加部门信息-->
    <insert id="add_department" parameterType="java.util.Map">
        insert into department
        (`cid`,`department_name`,`department_number`,`department_person`,`department_headphone`,`create_time`,`remake`)
        values
        (#{cid},#{department_name},#{department_number},#{department_person},#{department_headphone},now(),#{remake})
    </insert>

    <!--修改部门信息-->
    <update id="upd_department" parameterType="java.util.Map">
        update department set
        `department_name`=#{department_name},`department_number`=#{department_number},`department_person`=#{department_person},`department_headphone`=#{department_headphone},`remake`=#{remake}
        where id=#{id}
    </update>

    <!--删除部门信息-->
    <delete id="del_department" parameterType="java.util.Map">
        delete from department where id=#{id}
    </delete>

    <!--下拉框查询公司部门信息-->
    <select id="select_department" parameterType="java.util.Map" resultType="com.zty.scrutinise.entity.Department">
        select * from department where cid=#{cid}
    </select>
</mapper>